<div class="container-fluid">
	<div class="row">
		<!--bordered Table-->
		<div class="col-sm-6 no_padding">
			<app-borderedtable></app-borderedtable>
		</div>
		<!--stripped table-->
		<div class="col-sm-6 no_padding">
			<app-strippedtable></app-strippedtable>
		</div>
	</div>
	<div class="row">
		<!--condensed table-->
		<div class="col-sm-6 no_padding">
			<app-condensedtable></app-condensedtable>
		</div>
		<div class="col-sm-6 no_padding">
			<!--fullwidth table-->
			<app-fullwidth></app-fullwidth>
		</div>
	</div>
	<div class="row">
		<app-hoverresponsive></app-hoverresponsive>
	</div>
	
	
</div>