<div class="container-fluid no_padding no_margin">
	<div class="Condensed_table no_margin no_padding">
		<h3>Condensed Full Width Table</h3>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>Task</th>
					<th>Progress Bar</th>
					<th>Label</th>
				</tr>
			</thead>
			<tr *ngFor="let info of tabledata index as i">
				<td>{{i+1}}</td>
				<td>{{info.reason}}</td>
				<td>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':info.progress}" [ngClass]="{'progress-bar-danger': info.progress<50,'progress-bar-success':info.progress>75, 'progress-bar-warning': info.progress<60}">{{info.label}}
						</div>
					</div>
				</td>
				<td><p class="label label-primary" [ngClass]="{'label-danger': info.progress<50,'label-success':info.progress>75, 'label-warning': info.progress<60}">{{info.progress}}</p></td>
			</tr>
		</table>
	</div>	
</div>
