.login{
	margin-top: 120px;
	background-color: rgba(0,0,0,0.2);
}
.center{
	margin: 0 auto;
	float: none;
	text-align: center;
}
.text{
	margin:50px 0 50px 0 !important;
}
.font_size{
	font-size: 0.5em;
}
.font_weight{
	font-weight: 600;
}
.btn-danger{
	margin-bottom: 50px;
}