<div class="container-fluid">
	<div class="general_form">
		<h2>Quick Example</h2>
		<form>
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required>
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="file">File input:</label>
				<input type="file" name="file" id="file" >
			</div>
			<div class="checkbox">
				<label><input type="checkbox" name="check me out">check me out</label>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>